@media (min-width:$large) {
  .doors {
    display: grid;
//    background: pink;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: calc((100vh - 150px - 2.5em) / 2);
    height: calc(100vh - 150px - 2.5em);
    .school-box,
    .signature-box {
      border: none;
      height: calc(100vh - 150px - 2.5em);
    }
    .school-box {
      border-right: 1px solid $dark-blue;
      &.active {
        transform: translateX(-150%);
      }
    }
    .signature-box {
      border-left: 1px solid $dark-blue;
      &.active {
        transform: translateX(150%);
      }
    }
  }
  
  .school-choice,
  .signature-choice {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 150px auto 100px 1fr auto;
    grid-template-areas:
      'spacer spacer spacer spacer'
      'header header header header'
      'icon-one icon-one icon-two icon-two'
      'step-one step-one step-two step-two'
      '. last-step last-step .';
    grid-gap: 10px;
//    height: 100%;
    align-items: start;
    
    .spacer {
      grid-area: spacer;
    }
    
    h1 {
      grid-area: header;
    }
    
    .step-one-icon {
      grid-area: icon-one;
    }
    
    .signature-step-one,
    .school-step-one {
      grid-area: step-one;
    }
    
    .step-two-icon {
      grid-area: icon-two;
    }

    .signature-step-two,
    .school-step-two {
      grid-area: step-two;
      max-width: 95%;
    }
    
    .last-step {
      grid-area: last-step;
    }
//    .signature-buttons,
//    .school-buttons {
//      grid-area: accept-reset;
//    }
//    
//    .return {
//      grid-area: return;
//    }
    
  }
  
}
