@media (min-width:$large) {
  .main-grid {
//    background: pink;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr 50px;
    
    
    .step-two-icon {
      grid-column: 2 / 3;
    }
    
    .school-box,
    .signature-box {
      grid-row: span 2;
    }

    .footer {
      grid-column: span 2;
    }
  }
  
  .school-choice,
  .signature-choice {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 50px 100px 1fr 100px 100px;
    grid-template-areas: 
      'header header'
      'icon-one icon-two'
      'step-one step-two'
      'step-one accept-reset'
      'return return';
    grid-gap: 10px;
//    height: 100%;
    align-items: start;
    
    h1 {
      grid-area: header;
    }
    
    .step-one-icon {
      grid-area: icon-one;
    }
    
    .signature-step-one,
    .school-step-one {
      grid-area: step-one;
    }
    
    .step-two-icon {
      grid-area: icon-two;
    }

    .signature-step-two,
    .school-step-two {
      grid-area: step-two;
    }
    
    .signature-buttons,
    .school-buttons {
      grid-area: accept-reset;
    }
    
    .return {
      grid-area: return;
    }
    
  }
  
}
