@media only screen and (max-device-width: 500px) and (orientation: portrait) {
  body {
    -webkit-text-size-adjust: 100%;
    font-size: 1.5em;
  }
  
  //front page
  .cta {
    height: 200px;
    .book {
      padding-left: 1em;
      #icon-shadow {
        opacity: 0;
      }
    }
    h1 {
      font-size: 2.25em;
    }
  }
  
  .doors {
    display: block;
    position: fixed;
    top: 200px;
    left: 0;
    right: 0;
    height: calc(100vh - 200px - 2em);
    z-index: 10;

    .school-box {
      height: calc((100vh - 200px - 2em) / 2);
      border-bottom: 1px solid $dark-blue;
    }
    .signature-box {
      height: calc((100vh - 200px - 2em) / 2);
      border-top: 1px solid $dark-blue;
    }
    
    .school-button-icon,
    .signature-button-icon {
      width: 250px;
      height: 250px;
      #icon-circle {
        fill: $dark-blue;
      }
      #icon-shadow {
        opacity: 0;
      }
    }
    
    h2 {
      font-size: 2.5em;
      width: 100%;
      padding-top: 1em;
    }
    
    .school-box.active {
      transform: translateY(-150%); 
    }

    .signature-box.active {
      transform: translateY(150%);
    }
    
  }
  
  //School Side & Signature side

  
  .school-choice,
  .signature-choice {
    
    grid-template-rows: 200px 150px 150px 100% 150px 100% 100px 300px;
    grid-template-columns: 1fr;
    grid-template-areas: 
      'spacer'
      'header'
      'icon-one'
      'step-one'
      'icon-two'
      'step-two'
      'last-step';
    
    h1 {
      font-size: 4em;
      width: 50%;
    }
    
    .step-one-icon,
    .step-two-icon {
//      margin-top: 100px;
      width: 150px;
      height: 150px;
      #icon-circle {
        fill: $dark-blue;
      }
      #icon-shadow {
        opacity: 0;
      }
    }
    
    .school-step-one,
    .signature-step-one {
      margin-bottom: 200px;      
    }
    
    h3 {
      font-size: 2.5em;
    }

    p {
      font-size: 2em;
    }
    
    input {
      height: 2em;
      font-size: 2em;
      text-align: center;
      line-height: 2em;
      padding: 0;
      margin: 0;
    }
    
    #page-count,
    #quantity-signature {
      width: 75%;
    }
    
    .school-quantity-requested {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    
    #school-quantity,
    #quote-signature,
    #price-set {
      width: calc(75% - 300px);
      @include label-height;
    }
    
    #school-submit,
    #signature-submit,
    #signature-price {
      width: 300px;
      line-height: 2em;
      font-size: 2em;
      padding: 0;
      margin: 0;
    }
    
    .school-date-choice {
      display: flex;
      flex-direction: column;
      
      label {
        font-size: 2em;
        padding: .25em 0 .5em 0;
      }
      select {
        font-size: 2em;
        background: white;
        padding: .25em;
        width: 75%;
        text-align: center;
        margin: 0 auto;
      }
      #year {
        margin-bottom: 1.5em;
      }
      
    }
    
    #school-date-submit {
      width: 75%;
      height: 2em;
      font-size: 2em;
      line-height: 2em;
    }
    
    .school-buttons,
    .signature-buttons {
      width: 75%;
      margin: 2em auto .5em;
      
      #school-accept, #school-reset,
      #signature-accept, #signature-reset {
        width: 50%;
        @include label-height;
      }
      
    }
    
    .last-step {
      .return {
        @include label-height;
        width: 75% !important;
        margin: 0 auto .5em;
      }
    }
    
    
  }
  
  .password {
    width: 75%;
    left: calc(25% / 2);
    
    .lock-icon {
      width: 300px;
      height: 300px;
      padding: 1em 0;
    }
    
    h2 {
      font-size: 2em;
    }
    
    .password-inputs {
      margin-bottom: 1em;
      #password {
        @include label-height;
        width: calc(90% - 250px);
        padding-left: .5em;
      }

      #signature-password-button {
        width: 250px;
        line-height: 2em;
        font-size: 2em;
        padding: 0;
        margin: 0;
      }
    }
    
  }
  
}