@media only screen and (max-width: 500px) and (orientation: portrait) {

  //School Side & Signature side

  
  .school-choice,
  .signature-choice {
    
    grid-template-rows: 200px 150px 150px auto 150px auto 100px, 100px;
    grid-template-columns: 100vw;
    grid-template-areas: 
      'spacer'
      'header'
      'icon-one'
      'step-one'
      'icon-two'
      'step-two'
      'last-step';
    
//     h1 {
//       font-size: 4em;
//       width: 50%;
//     }
    
//     .step-one-icon,
//     .step-two-icon {
// //      margin-top: 100px;
//       width: 150px;
//       height: 150px;
//       #icon-circle {
//         fill: $dark-blue;
//       }
//       #icon-shadow {
//         opacity: 0;
//       }
//     }
    
//     .school-step-one,
//     .signature-step-one {
//       margin-bottom: 200px;
//       transform: none;
//       width: 95vw;
//     }
//     .school-step-two,
//     .signature-step-two {
//       width: 95vw;
//     }
//     .school-step-one,
//     .signature-step-one {
//       transform: none;
//     }
    
//     h3 {
//       font-size: 2.5em;
//     }

//     p {
//       font-size: 2em;
//     }
    
//     input {
//       height: 2em;
//       font-size: 2em;
//       text-align: center;
//       line-height: 2em;
//       padding: 0;
//       margin: 0;
//     }
    
//     #page-count,
//     #quantity-signature {
//       width: 75%;
//     }
    
//     .school-quantity-requested {
//       display: flex;
//       align-items: center;
//       justify-content: center;
//     }
    
//     #school-quantity,
//     #quote-signature,
//     #price-set {
//       width: calc(75% - 300px);
//       @include label-height;
//     }
    
//     #school-submit,
//     #signature-submit,
//     #signature-price {
//       width: 300px;
//       line-height: 2em;
//       font-size: 2em;
//       padding: 0;
//       margin: 0;
//     }
    
//     .school-date-choice {
//       display: flex;
//       flex-direction: column;
      
//       label {
//         font-size: 2em;
//         padding: .25em 0 .5em 0;
//       }
//       select {
//         font-size: 2em;
//         background: white;
//         padding: .25em;
//         width: 75%;
//         text-align: center;
//         margin: 0 auto;
//       }
//       #year {
//         margin-bottom: 1.5em;
//       }
      
//     }
    
//     #school-date-submit {
//       width: 75%;
//       height: 2em;
//       font-size: 2em;
//       line-height: 2em;
//     }
    
//     .school-buttons,
//     .signature-buttons {
//       width: 75%;
//       margin: 2em auto .5em;
      
//       #school-accept, #school-reset,
//       #signature-accept, #signature-reset {
//         width: 50%;
//         @include label-height;
//       }
      
//     }
    
//     .last-step {
//       transform: none;
//       .return {
//         @include label-height;
//         width: 75% !important;
//         margin: 0 auto .5em;
//       }
//     }
    
    
//   }
  
//   .password {
//     width: 75%;
//     left: calc(25% / 2);
    
//     .lock-icon {
//       width: 300px;
//       height: 300px;
//       padding: 1em 0;
//     }
    
//     h2 {
//       font-size: 2em;
//     }
    
//     .password-inputs {
//       margin-bottom: 1em;
//       #password {
//         @include label-height;
//         width: calc(90% - 250px);
//         padding-left: .5em;
//       }

//       #signature-password-button {
//         width: 250px;
//         line-height: 2em;
//         font-size: 2em;
//         padding: 0;
//         margin: 0;
//       }
//     }
    
  }
  
}