@media only screen and (max-device-width: 1400px) and (min-device-width: 401px) and (orientation: landscape) {
  body {
    font-size: 1.5em;
  }
  
  .max-width {
//    height: 100px;
    .cta {
      height: 100px;
      .book {
        height: 75px;
        width: 75px;
      }
      h1 {
        font-size: 2em;
        margin: 0;
      }
      h2 {
        font-size: 1em;
        text-align: right;
        margin: 0;
      }
    }
  }
  .footer {
    height: 1em;
    line-height: 1em;
    font-size: 1em;
  }
  
  .doors {
    height: calc(100vh - 100px - 1.5em);
    top: 100px;
    grid-template-rows: 100%;
    .school-box,
    .signature-box {
      height: 100%;
    }
  }
  
  //school and signature sections
  .school-choice,
  .signature-choice {
    .spacer {
      height: 100px;
    }

    .school-step-one,
    .signature-step-one {
      transform: none;
      #page-count,
      #quantity-signature {
        width: 80%;
        text-align: center;
        line-height: 1em;
        font-size: 1em;
        padding: 0;
        margin: 0;
        height: 1em;
      }
    }
    .school-step-two,
    signature-step-two {
      transform: none;
    }
    .last-step {
      transform: none;
    }
    #school-quantity,
    #quote-signature,
    #price-set {
      width: calc(80% - 100px);
      text-align: center;
      line-height: 1em;
      font-size: 1em;
      padding: 0;
      margin: 0;
      height: 1em;
    }

    #school-submit,
    #signature-submit,
    #signature-price {
      width: 100px;
      line-height: 1em;
      font-size: 1em;
      padding: 0;
      margin: 0;
    }
    
    .school-date-choice {
      display: flex;
      flex-direction: column;
      
    label {
      font-size: 1em;
      padding: .125em 0 .25em 0;
    }
    select {
      font-size: 1em;
      background: white;
      padding: .125em;
      width: 75%;
      text-align: center;
      margin: 0 auto;
    }
    #year {
      margin-bottom: .75em;
    }

  }
//
//    .school-buttons,
//    .signature-buttons {
//      grid-column: span 2;
//      grid-row: 4 / 5;
//      width: 75%;
//      margin: 0 auto;
//      
//      #school-accept, #school-reset,
//      #signature-accept, #signature-reset {
//        width: 50%;
//      }
//    }
//    
//    .return {
//      grid-column: span 2;
//      grid-row: 5 / 6;
//      width: 75%;
//    }
    
  }
  
  .password {
    h2 {
      font-size: 1em;
    }
    
    #password {
      width: calc(80% - 100px);
      line-height: 1em;
      font-size: 1em;
      height: 1em;
      padding: 0;
      margin: 0;
    }
    
    #signature-password-button {
      width: 100px;
      line-height: 1em;
      font-size: 1em;
      padding: 0;
      margin: 0;
    }
    
  }
  
}