//colors
$background: #f3f7f8;
$dark-blue: #373b5d;
$shadow: #373b5d;
$text-color: #070d31;
$button-red: #984047;
$button-green: #22887f;

$circle-fill: #5b5d8e;
$shadow-fill: #373b5d;
$icon-fill: #eaf1f4;

//media sizes
$large: 750px;