.school-choice, 
.signature-choice {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 50px repeat(2, 1fr) 100px 100px;
  grid-gap: 10px;
  height: 75vh;
  text-align: center;
  justify-content: center;
  align-items: center;
  
  .school-step-one,
  .signature-step-one {
//    background: pink;
    
  }
  .school-step-two,
  signature-step-two {
//    background: orange;
  }
  .school-buttons {
    button {
      border: none;
      &:hover {
        cursor: pointer;
      }
    }
  }
}

