.password {
  position: fixed;
  top: 75%;
  left: 50%;
  transform: translate(-50%,-50%);
  width: 275px;
  padding: 5px;
  padding-bottom: 10px;
  text-align: center;
  background: $background;
  border-radius: 3px;
  box-shadow: 0 5px 5px rgba(0,0,0,.2);
  border: 3px solid $dark-blue;
  z-index: 1;
  
  h2 {
    color: $text-color;
  }
  
  #password {
    border: 1px solid $dark-blue;
//    border-right: none;
    border-radius: 3px 0 0 3px;
    width: 175px;
    height: 21px;
  }
  
  button {
    border-radius: 0 3px 3px 0;
    border-left: none;
    border: 1px solid $dark-blue;
    background: $dark-blue;
    color: $background;
    width: 75px;
//    height: 21px;
    &:hover {
      background: white;
      color: $dark-blue;
    }
  }
  
  .exit-modal {
    color: $text-color;
    position: fixed;
    top: 0;
    right: 0;
    padding: 2px 5px;
    margin: 5px;
    border: 1px solid rgba($dark-blue,.2);
    cursor: pointer;
    &:hover {
      background: $dark-blue;
      color: $background;
    }
  }
  
}
