.signature-choice,
.school-choice {
  h1 {
    width: 250px;
    margin: auto;
//    padding: 20px 0 10px;
    border-bottom: 1px solid $text-color;
  }
  
  h3 {
      text-transform: uppercase;
    }
  
  #quantity-signature,
  #page-count {
    border: 1px solid $dark-blue;
    border-radius: 3px;
    width: 250px;
  }
  
  #quote-signature,
  #price-set,
  #date,
  #school-quantity {
    border: 1px solid $dark-blue;
//    border-right: none;
    border-radius: 3px 0 0 3px;
    width: 175px;
  }
  
  #date {
    height: 20px;
  }
  
  #signature-submit,
  #signature-price,
  #school-submit {
    border-radius: 0 3px 3px 0;
    border-left: none;
    background: white;
    color: $dark-blue;
    &:hover {
      background: $button-green;
      color: $background;
    }
  }
  
  
  button {
    background: $dark-blue;
    color: $background;
    border: 1px solid $dark-blue;
    border-radius: 3px;
    padding: 1px 10px;
    width: 75px;
    &:hover {
      background: $button-green;
      color: $background;
    }
  }
  
  #school-date-submit {
    border-radius: 3px;
    margin-top: 10px;
    width: 250px;
    background: white;
    color: $dark-blue;
    &:hover {
      background: $button-green;
      color: $background;
    }
  }
  
  .signature-buttons,
  .school-buttons {
    button {
      @include side-by-side;
      width: 125px;
      height: 30px;
      background: $dark-blue;
      color: $background;
      &:hover {
        background: white;
        color: $dark-blue;
      }
    }
    
    #signature-accept,
    #school-accept {
      border-radius: 3px 0 0 3px;
      border-left: 1px solid $dark-blue;
      &:hover {
        background: $button-green;
        color: $background;
      }
      
    }
    
    #signature-reset,
    #school-reset {
      border-radius: 0 3px 3px 0;
      border-right: 1px solid $dark-blue;
      &:hover {
        background: $button-red;
        color: $background;
      }
    }
    
  }
  
  .return {
    width: 250px;
    margin: auto;
    &:hover {
      background: white;
      color: $dark-blue;
      box-shadow: 0 5px 5px rgba(0,0,0,.2);
    }
  }
  
}
