.step-one-icon,
.step-two-icon {
  height: 100px;
  width: 100px;
  margin: auto;
  svg {
    height: 100%;
    width: 100%;
  }
  
}

.step-one-icon {
  animation: grow 200ms ease-in-out 200ms;
}

.step-two-icon {
  animation: grow 200ms ease-in-out 600ms;
}
