.step-one-icon,
.step-two-icon {
  opacity: 0;
  height: 100px;
  width: 100px;
  margin: auto;
  svg {
    height: 100%;
    width: 100%;
  }
}

.step-one-icon {
  animation: show 300ms ease-in-out 500ms forwards;
}

.step-two-icon {
  animation: show 300ms ease-in-out 1000ms forwards;
}
