.school-box:hover,
.signature-box:hover {
  
  cursor: pointer;
  background: $dark-blue;
  h2 {
    color: $background;
  }

  #icons,
  #icon-shadow {
    transform-origin: center;
    animation: grow 200ms ease-in forwards;
  }
  #icon-circle {
    transform-origin: center;
    animation: shrink 200ms ease-in forwards;
  }
}

